/**
 * Stylesheet for the Icicle documentation theme.
 *
 * The layout is created using absolutely positioned panes to separate menus to
 * fixed loacations. Sizes are easily adjusted for different screen sizes for a
 * responsive experience.
 *
 * The color scheme being used uses the following colors:
 *
 * - Primary blue highlight: #71b2e3
 * - Dark blue highlight: #4a9ddb
 * - Alternate purple highlight: #9277bf
 * - Gray highlight: #a3c1d9
 * - Light gray shade: #e9eff5
 * - Background: #ffffff
 */

*, *::before, *::after {
    box-sizing: border-box;
}


/**
 * Load fonts.
 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/regular.eot');
    src: url('../fonts/open-sans/regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/regular.woff') format('woff'),
         url('../fonts/open-sans/regular.ttf') format('truetype'),
         url('../fonts/open-sans/regular.svg#liberation_monobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/bold.eot');
    src: url('../fonts/open-sans/bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/bold.woff') format('woff'),
         url('../fonts/open-sans/bold.ttf') format('truetype'),
         url('../fonts/open-sans/bold.svg#liberation_monobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/italic.eot');
    src: url('../fonts/open-sans/italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/italic.woff') format('woff'),
         url('../fonts/open-sans/italic.ttf') format('truetype'),
         url('../fonts/open-sans/italic.svg#liberation_monobold') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/bolditalic.eot');
    src: url('../fonts/open-sans/bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/bolditalic.woff') format('woff'),
         url('../fonts/open-sans/bolditalic.ttf') format('truetype'),
         url('../fonts/open-sans/bolditalic.svg#liberation_monobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
   font-family: 'Liberation Mono';
   src: url('../fonts/liberation-mono/regular.eot');
   src: url('../fonts/liberation-mono/regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/liberation-mono/regular.woff') format('woff'),
        url('../fonts/liberation-mono/regular.ttf') format('truetype'),
        url('../fonts/liberation-mono/regular.svg#liberation_monobold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Liberation Mono';
   src: url('../fonts/liberation-mono/bold.eot');
   src: url('../fonts/liberation-mono/bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/liberation-mono/bold.woff') format('woff'),
        url('../fonts/liberation-mono/bold.ttf') format('truetype'),
        url('../fonts/liberation-mono/bold.svg#liberation_monobold') format('svg');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Liberation Mono';
   src: url('../fonts/liberation-mono/italic.eot');
   src: url('../fonts/liberation-mono/italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/liberation-mono/italic.woff') format('woff'),
        url('../fonts/liberation-mono/italic.ttf') format('truetype'),
        url('../fonts/liberation-mono/italic.svg#liberation_monobold') format('svg');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Liberation Mono';
   src: url('../fonts/liberation-mono/bolditalic.eot');
   src: url('../fonts/liberation-mono/bolditalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/liberation-mono/bolditalic.woff') format('woff'),
        url('../fonts/liberation-mono/bolditalic.ttf') format('truetype'),
        url('../fonts/liberation-mono/bolditalic.svg#liberation_monobold_italic') format('svg');
   font-weight: bold;
   font-style: italic;
}


/**
 * Text and color theming.
 */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    /* set the background to highlight color for iOS system bar color */
    background-color: #5189c7;
}

.pane {
    background: #e9eff5;
    background-attachment: fixed;
}

aside.pane {
    background: #00397b;
}

aside.nav-pane, .breadcrumbs {
    background: #e9eff5;
}

p, table, pre > code, .admonition {
    margin: 1.5rem 0;
}

pre, code {
    font-family: "Liberation Mono", monospace;
}

code {
   font-size: 0.85em;
}

:not(pre) > code {
   padding: 0.0625em 0.25em;
   background-color: rgba(0, 0, 0, 0.05);
}

a:link {
    color: #00397b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #7237cf;
}

.fa:hover {
    text-decoration: none;
}

blockquote {
    margin: 0;
    padding: 0 1.5rem;
    border-left: 0.5rem solid #e9eff5;
    border-right: 0.5rem solid #e9eff5;
    font-size: 1.25rem;
    font-style: italic;
}

blockquote cite {
    display: block;
    font-size: 1rem;
    font-style: normal;
    text-align: right;
}

blockquote cite::before {
    content: "—";
    padding-right: 0.5em;
}

pre > code, .breadcrumbs {
    box-shadow: inset 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
}

pre > code {
    line-height: 1.2em;
    background-color: #e9eff5 !important;
}

pre {
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
}

hr {
    margin: 2rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


/**
 * Definition lists. Usually for parameter lists.
 */
dl > dt {
    color: #4a9ddb;
}

dl > dt:not(:first-of-type) {
    margin-top: 1rem;
}

dl > dd > :first-child {
    margin-top: 0;
}


/**
 * Heading styles.
 */
:not(h1) + h2 {
    margin-top: 3rem;
}

h3 {
   font-size: 1.125rem;
}

h5 {
    font-size: 1em;
    margin: 1rem 0;
}

/* Make header permalinks hidden by default and visible on hover. */
h1:hover > .headerlink,
h2:hover > .headerlink {
    visibility: visible;
    opacity: 1;
}

.headerlink {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0.5rem;
    padding: 0 0.25em;
    visibility: hidden;
    opacity: 0;
    color: #71b2e3;
    font-size: 1.25rem;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.headerlink::before {
    font-family: FontAwesome;
    content: "\f0c1";
}

.headerlink:hover {
    color: #00397b;
    text-decoration: none;
}


/**
 * Styling for admonitions (notes, tips, etc.).
 */
.admonition {
    padding-bottom: 1px;
}

.admonition > .admonition-title {
    padding: 0.5rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.admonition > p {
    margin: 1rem 0;
    padding: 0 0.75rem;
}

.admonition.note {
    background-color: #a3c1d9;
}

.admonition.tip {
    background-color: #8de5b2;
}

.admonition.warning {
    background-color: #f8e07f;
}


/**
 * Styling for tables.
 */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 0.5rem 0.75rem;
    vertical-align: top;
    font-size: 0.9em;
}

thead {
    background-color: #71b2e3;
    color: #fff;
}

th {
    font-weight: bold;
    text-align: left;
}

tbody > tr:nth-child(odd), tbody > tr > td:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

thead > tr > th:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.15);
}


/**
 * General layout and styling.
 */
.container {
    margin: 1rem 0;
    padding: 0 1rem;
}

.pane {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: left 0.4s ease-in, -webkit-filter 0.4s, left 0.4s ease-in, filter 0.4s;
    transition: left 0.4s ease-in, -webkit-filter 0.4s, left 0.4s ease-in, filter 0.4s;
}


/**
 * Title navigation strip.
 */
.title-pane {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    z-index: 10;
    background-color: #71b2e3;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
}

.title-pane a {
    color: white;
}

.title-pane > .pagination-nav > a {
    display: inline-block;
    padding-left: 0.5rem;
}

#nav-toggle {
    display: none;
}

@media (max-width: 24rem) {
    #title-home-link {
        display: none;
    }
}


/**
 * Navigation and table of contents.
 */
.nav-pane {
    top: 2.5rem;
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.9em;
    z-index: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background-color: inherit;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.home-logo {
    text-align: center;
}

.page-nav ul, .page-nav ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.toctree-label {
    display: block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* top border if no item above it */
.page-nav ul > li:first-child > .toctree-label, .toctree-heading {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a.toctree-label:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.toctree-heading {
    margin-top: 2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

.toctree-item.current:not(.toctree-heading) > a {
    background-color: #fff;
    text-decoration: underline;
}

.toctree-item.current > ol:first-of-type {
    background-color: #f5f5f5;
}

.toctree-l2 > .toctree-label {
    padding-left: 2rem;
}

.toctree-l3 > .toctree-label {
    padding-left: 3rem;
}

.toctree-l4 > .toctree-label {
    padding-left: 4rem;
}

.toctree-l5 > .toctree-label {
    padding-left: 5rem;
}

.toctree-lheading .toctree-l2 > .toctree-label {
    padding-left: 1rem;
}

.toctree-lheading .toctree-l3 > .toctree-label {
    padding-left: 2rem;
}

.toctree-lheading .toctree-l4 > .toctree-label {
    padding-left: 3rem;
}

.toctree-lheading .toctree-l5 > .toctree-label {
    padding-left: 4rem;
}


/**
 * Breadcrumbs navigation.
 */
.breadcrumbs {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.9em;
    list-style-type: none;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs span {
    color: rgba(0, 0, 0, 0.1);
}


/**
 * Content body.
 */
.content-pane {
    top: 2.5rem;
    left: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.content-container {
    max-width: 52rem;
    min-height: calc(100vh - 2.5rem);
    padding: 1px 3rem;
    background-color: #fff;
}

@media (min-width: 52rem) {
    .content-pane {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 88rem) {
    .content-pane > .content-container {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 88rem) {
    .content-container {
        margin: 0 auto;
    }

    .content-pane {
        background-color: #fff;
    }
}

.next-page-button {
    display: block;
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: inset 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

.next-page-button:hover {
    text-decoration: none;
    background-color: #e9eff5;
}

.next-page-button > .fa {
    display: inline-block;
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.1);
}


/**
 * Search box and search results.
 */
.search-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #d6dee8;
}

.search-box > label {
    font-size: 0.9em;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
}

.search-box > input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    margin: 0;
    font-size: 1em;
    background-color: transparent;
}


/**
 * Footer layout.
 */
footer {
    margin-top: 4rem;
    font-size: 0.9em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #666;
}


/**
 * Mobile and intermediate responsive styles for the navigation pane.
 */
@media (max-width: 52rem) {
    .nav-pane {
        z-index: 3;
        left: -20rem;
        width: auto;
        max-width: 20rem;
    }

    .nav-pane.visible {
        left: 0;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .nav-pane.visible ~ .content-pane {
        -webkit-filter: brightness(0.8) blur(2px);
                filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
                filter: brightness(0.8) blur(2px);
    }

    .content-pane {
        left: 0;
    }

    .content-container {
        padding: 1rem;
    }

    #nav-toggle {
        display: inline-block;
        margin-left: -0.4em;
        padding: 0.4em;
        font-size: 1.5em;
        cursor: pointer;
    }
}
