*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**
 * Text and color theming.
 */
body {
    font-family: "Open Sans", sans-serif;
}

pre, code {
    font-family: "Ubuntu Mono", monospace;
}

a {
    color: #0048ab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #756bb1;
}

.fa:hover {
    text-decoration: none;
}

code, .search-box {
    border: 1px solid #d6dee8;
}

code, .pane {
    background-color: #eaeef3;
}

code {
    border-radius: 0.25em;
}

pre {
    word-break: break-all;
    word-wrap: break-word;
}


/**
 * Pane layout and styling.
 */
.container {
    padding: 1rem;
}

.pane {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: left 0.4s ease-in, box-shadow 0.3s;
    transition: left 0.4s ease-in, box-shadow 0.3s;
}

.nav-pane {
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    border-right: 1px solid #d6dee8;
}

.content-pane {
    left: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.content-container {
    max-width: 48rem;
    padding: 2rem 3rem;
    background-color: #ffffff;
}

.home-logo {
    text-align: center;
}


/**
 * Mobile and intermediate responsive styles for the navigation pane.
 */
#nav-toggle {
    display: none;
}

@media (min-width: 88rem) {
    .content-pane > .container {
        border-right: 1px solid #d6dee8;
    }
}

@media (max-width: 88rem) {
    .container {
        margin: 0 auto;
    }

    .content-pane {
        background-color: #ffffff;
        border-right: none;
    }
}

@media (max-width: 52rem) {
    .nav-pane {
        left: -20rem;
        width: auto;
        max-width: 20rem;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0);
    }

    .nav-pane.visible {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.25);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .content-pane {
        left: 0;
    }

    #nav-toggle {
        display: block;
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        z-index: 3;
        font-size: 1.5em;
        padding: 0.25rem 0.4rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    #nav-toggle:hover {
        border-color: lightgray;
    }
}


/**
 * Search box and search results.
 */
.search-box {
    display: block;
    padding: 0.25em 0.5em;
    border-radius: 1em;
    background-color: #ffffff;
}

.search-box > input {
    padding: 0.25em;
    width: 100%;
    border: none;
    outline: none;
}


/**
 * Navigation and table of contents.
 */
.page-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-nav li {
    display: block;
    margin: 1rem 0;
}

.page-nav li > span {
    display: block;
    margin-top: 2rem;
    font-weight: bold;
}

.toctree-l1 {
    padding-left: 1rem;
}

.toctree-l2 {
    padding-left: 1.25rem;
}

.toctree-l3 {
    padding-left: 2.5rem;
}
