<ul class="breadcrumbs" role="navigation" aria-label="breadcrumbs navigation">
    <li><a href="{{ homepage_url }}">Docs</a> &raquo;</li>
    {% if current_page %}
        {% for doc in current_page.ancestors %}
            {% if doc.link %}
                <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
            {% else %}
                <li>{{ doc.title }} &raquo;</li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if current_page %}<li><a href="{{ current_page.link|e }}">{{ current_page.title }}</a></li>{% endif %}

    {% if repo_url %}
        <li class="breadcrumbs-aside">
        {% if repo_name == 'GitHub' %}
            <a href="{{ repo_url }}" class="fa fa-github"> Edit on GitHub</a>
        {% elif repo_name == 'Bitbucket' %}
            <a href="{{ repo_url }}" class="fa fa-bitbucket"> Edit on BitBucket</a>
        {% endif %}
        </li>
    {% endif %}
</ul>
