{% if nav_item.children %}
    <li class="toctree-l1 {% if nav_item.active%}current{%endif%}">
        <span class="toctree-item toctree-heading">{{ nav_item.title }}</span>
        <ol class="subnav">
            {% for nav_item in nav_item.children %}
                {% include 'toc.html' %}
            {% endfor %}
        </ol>
    </li>
{% else %}
    <li class="toctree-l2 {% if nav_item.active%}current{%endif%}">
        <a class="toctree-item {% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
        {% if nav_item == current_page %}
            <ol class="subnav">
            {% for toc_item in toc %}
                <li class="toctree-l3 {% if toc_item.active%}current{%endif%}">
                    <a class="toctree-item" href="{{ toc_item.url }}">{{ toc_item.title }}</a>

                    <ol class="subnav">
                    {% for toc_item in toc_item.children %}
                        <li class="toctree-l4 {% if toc_item.active%}current{%endif%}"><a class="toctree-item" href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                    {% endfor %}
                    </ol>
                </li>
            {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endif %}
