{% macro tree(item, level = 1, current = true, maxdepth = false) -%}
{% if item.url %}
<li class="toctree-item toctree-l{{ level }} {% if current and item.active %}current{% endif %}">
    <a class="toctree-label {% if current and item.active %}current{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
{% else %}
<li class="toctree-item toctree-l{{ level }}">
    <span class="toctree-label {% if level == 1 %}toctree-heading{% endif %}">{{ item.title }}</span>
{% endif %}

    {% if maxdepth == false or level < maxdepth %}
        {% if item.children %}
        <ol>
            {% for child in item.children %}
                {{ tree(child, level + 1, current, maxdepth) }}
            {% endfor %}
        </ol>
        {% elif item == current_page %}
        <ol>
            {% for child in toc %}
                {{ tree(child, level + 1, false, level + 2) }}
            {% endfor %}
        </ol>
        {% endif %}
    {% endif %}

</li>
{%- endmacro %}


<ul>
    {% for item in nav %}
        {{ tree(item) }}
    {% endfor %}
</ul>
