{%- macro tree(item, level = 1, maxdepth = false, parent = false) -%}
{%- if parent.title != item.title -%}
    {# Trickery to figure out if the current item has an "index" child. #}
    {%- set index = [false] -%}
    {%- if not item.url -%}
        {%- if item.children[0].title == item.title -%}
            {% set _ = index.append(item.children[0]) %}
        {%- endif -%}
    {%- endif -%}
    {%- set index = index.pop() -%}
    {%- set url = item.url or index.url -%}
    {%- set current = item == current_page or index == current_page -%}

    {%- if url -%}
    <li class="toctree-item toctree-l{{ level }}
        {%- if current %} current{% endif -%}
    ">
        <a class="toctree-label
            {%- if not url and level == 1 %} toctree-heading{% endif -%}" href="{{ url }}">
            {{- item.title -}}
        </a>
    {%- else -%}
    <li class="toctree-item toctree-l{{ level }}
        {%- if level == 1 %} toctree-lheading{% endif -%}
    ">
        <span class="toctree-label
            {%- if level == 1 %} toctree-heading{% endif -%}">{{- item.title -}}</span>
    {%- endif -%}

    {% if maxdepth == false or level < maxdepth -%}
        {%- if current -%}
        <ol>
            {% for child in toc -%}
                {{ tree(child, level + 1, level + 1) }}
            {% endfor %}
        </ol>
        {%- endif %}

        {% if item.children -%}
        <ol>
            {% for child in item.children -%}
                {{ tree(child, level + 1, maxdepth, item) }}
            {%- endfor %}
        </ol>
        {%- endif %}
    {%- endif -%}

    </li>
{%- endif -%}
{%- endmacro -%}


<ul>
    {% for item in nav -%}
        {{ tree(item) }}
    {%- endfor %}
</ul>
